body{
    background-image: url("background.png");
}

#zipcode{
    width:450px;
    margin-left: auto;
    margin-right: auto;
}

#about{
    text-align: center;
}

#sun{
    display: block;
    margin-left: auto;
    margin-right: auto;
}