body{
    background-image: url("background.png");
}

#zipcode{
<<<<<<< HEAD
  width: 450px;
  margin-left: auto;
  margin-right: auto;
=======
    width:450px;
    margin-left: auto;
    margin-right: auto;
>>>>>>> origin/master
}
